<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{{ title }}</title>

	<meta name="generator" value="https://github.com/studio24/design-system">
	<meta http-equiv="x-ua-compatible" content="ie=edge">

	<script src="/assets/design-system/js/libraries/fontfaceobserver.js"></script>

	<script>
		var myFont = new FontFaceObserver('Noto Sans');

		Promise.all([myFont.load()]).then(function () {
			document.documentElement.className += " fonts-loaded";
		});
	</script>

	<!-- Normalize -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
	<!-- HighlightJS https://highlightjs.org/ -->
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/styles/a11y-dark.min.css">
	<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/highlight.min.js"></script>
	<script>hljs.highlightAll();</script>

	<link rel="stylesheet" href="/assets/design-system/styles.css" media="screen" />
</head>
<body>
	<div class="wrap">
		{% include "@DesignSystem/partials/_header.html.twig" %}

		<div class="l-center l-sidebar">
			<div>
				<div class="sidebar">
					<nav class="section-nav">
						<ul class="clean-list" role="list">
						{% for item in sibling_navigation %}
							{% if not item.in_navigation %}
							<li class="{% if current_url == item.url %}active{% endif %}"><a class="nav-link" href="{{ item.url }}">{{ item.title }}</a></li>
							{% endif %}
						{% endfor %}
						</ul>
					</nav>
				</div>
				<div class="not-sidebar">
					<main id="main" class="l-stack">
						{% block main %}
						{% endblock %}
					</main>
				</div>
			</div>
		</div>
	</div>

{% include "@DesignSystem/partials/_footer.html.twig" %}
</body>
</html>