header {
    float: left;
    width: 10em;
    padding: 10px;
    background-color: #EEE;
}

header img.logo {
    width: 60px;
    height: auto;
}

nav ul {
    margin-top: 1em;
}

nav ul li {
    font-size: 0.9rem;
}

nav ul ul {
    margin-top: 0;
}

.code_example {
    border: 1px solid #666;
}

.code-example-tabs,
.code-example-html,
.code-example-twig {
    border-top: 1px solid #666;
}