/*------------------------------------*\
    #Fonts
\*------------------------------------*/
@font-face {
	font-display: fallback;
	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: 400;
	src: url("fonts/notosans-regular.woff2") format("woff2"), url("fonts/notosans-regular.woff") format("woff");
}

@font-face {
	font-display: fallback;
	font-family: 'Noto Sans';
	font-style: italic;
	font-weight: 400;
	src: url("fonts/notosans-italic.woff2") format("woff2"), url("fonts/notosans-italic.woff") format("woff");
}

@font-face {
	font-display: fallback;
	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: 600;
	src: url("fonts/notosans-bold.woff2") format("woff2"), url("fonts/notosans-bold.woff") format("woff");
}

@font-face {
	font-display: fallback;
	font-family: 'Noto Sans';
	font-style: italic;
	font-weight: 600;
	src: url("fonts/notosans-bolditalic.woff2") format("woff2"), url("fonts/notosans-bolditalic.woff") format("woff");
}



/*------------------------------------*\
	#Base
\*------------------------------------*/
html {
	height: 100%;
}


body {
	background-color: #fafafa;
	color: #1a1c1b;
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 100%;
	font-family: "Trebuchet MS", Geneva, sans-serif;
	font-size: 1rem;
	font-style: normal;
	font-weight: 400;
	grid-template-columns: 100%;
	-ms-grid-rows: 1fr auto;
	grid-template-rows: 1fr auto;
	line-height: 1.5;
	min-height: 100%;
	overflow-x: hidden;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

.fonts-loaded body {
	font-family: "Noto Sans", "Trebuchet MS", Geneva, sans-serif;
}


*,
*::before,
*::after {
	box-sizing: border-box;
	font-family: inherit;
	color: inherit;
	margin: 0;
	overflow-wrap: break-word;
	padding: 0;
}


h1, h2, h3, h4, h5, h6 {
	font-weight: 600;
	margin: 0;
}


:focus {
	outline: 2px solid transparent;
	outline-offset: -2px;
}

main:focus,
#main:focus,
[tabindex='-1']:focus {
	outline: none;
}

[hidden] {
	display: none !important;
}

.visuallyhidden:not(:focus):not(:active),
.skip-link:not(:focus):not(:active) {
	border: 0;
	clip: rect(0 0 0 0);
	-webkit-clip-path: inset(100%);
	clip-path: inset(100%);
	height: 1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}


[hidden] + *,
.hidden + *,
.visuallyhidden + *,
.skip-link + * {
	margin-top: 0 !important;
}


br {
	margin-top: 0;
}


svg {
	fill: currentColor;
	height: auto;
	width: 100%;
}


img {
	height: auto;
	width: 100%;
}

abbr {
	text-decoration-skip-ink: auto;
	text-underline-offset: 0.25em;
}

dfn {
	font-style: normal;
	font-weight: 600;
}


b,
strong,
.bold {
	font-weight: 600;
}

em,
i {
	font-style: italic;
}

code {
	color: #b30000;
}

kbd {
	background-color: #eaeaea;
	border: solid 1px #ccc;
	border-radius: 2px;
	display: inline-block;
	line-height: normal;
	padding: .1em .2em;
}

a:not([class]) {
	border: 0;
	color: #005A9C;
	cursor: pointer;
	padding-left: 0.125rem;
	padding-right: 0.125rem;
	text-decoration: underline;
	text-decoration-skip-ink: auto;
}

a:not([class]):visited {
	color: purple;
}

a:not([class]):hover,
a:not([class]):active {
	color: #005A9C;
	outline-width: 0;
}

a:not([class]):focus,
a.with-icon--before:focus,
a.with-icon--after:focus {
	background-color: #f9dc4a;
	background-image: linear-gradient(to top, #000 3px, #f9dc4a 3px, #f9dc4a);
	color: #000;
	text-decoration: none;
}

a:not([class]):active,
a.with-icon--before:active,
a.with-icon--after:active {
	color: #000;
	outline-width: 0;
}


ol[class],
ul[class] {
	list-style: none;
	padding-left: 0;
}

ul:not([class]) > * + *,
ul:not([class]) li ul,
ul:not([class]) li ol,
ol:not([class]) > * + *,
ol:not([class]) li ul,
ol:not([class]) li ol {
	margin-top: 0.75em;
}

ul:not([class]) {
	-webkit-padding-start: 2.4em;
	padding-inline-start: 2.4em;
}

ol:not([class]) {
	counter-reset: count;
	list-style-type: none;
	-webkit-padding-start: 1.25em;
	padding-inline-start: 1.25em;
}

ol:not([class]) > li {
	counter-increment: count;
}

ol:not([class]) > li::before {
	content: counters(count, ".") " ";
	-webkit-padding-end: 0.5em;
	padding-inline-end: 0.5em;
}


.clean-list li {
	display: block;
}


.inline-list li {
	display: inline-block;
	margin-bottom: 0.5em;
	margin-right: 1.5em;
	margin-top: 0;
}

.inline-list li:last-child {
	margin-bottom: 0;
	margin-right: 0;
}


dl dt {
	font-weight: bold;
}

dl dd + dt {
	margin-top: 0.5em;
}

dl dt + dd,
dl dd + dd {
	margin-top: 0.25em;
}


.skip-link {
	background-color: #f9dc4a;
	border: solid 3px #000;
	color: #000;
	padding: 0.625em 0.9375em;
	text-decoration: none;
}

.skip-link:active, .skip-link:focus {
	left: 0;
	position: absolute;
	top: 0;
	z-index: 999;
}

.skip-link:active span,
.skip-link:focus span {
	box-shadow: 0 -1px 0 0 inset;
}


table {
	border: 1px solid;
	border-collapse: collapse;
	width: 100%;
}

tr:nth-child(even) {
	background-color: rgba(206, 205, 205, 0.5);
}

th,
td,
table caption {
	padding: 0.75rem;
	text-align: left;
	text-align: start;
}

th {
	vertical-align: bottom;
}

th[scope="col"] {
	background-color: #024488;
	color: #fff;
}

td {
	vertical-align: text-top; }



/*------------------------------------*\
	#Layouts
\*------------------------------------*/
.l-box {
	border: 1px solid;
	display: block;
	padding: 1.7rem;
}

.l-box--no-padding {
	padding: 0;
}

.l-box--no-border {
	border: none;
	outline: 1px solid transparent;
	outline-offset: -1px;
}


.l-center {
	box-sizing: content-box;
	margin-left: auto;
	margin-right: auto;
	max-width: 70rem;
	padding-left: 5vw;
	padding-right: 5vw;
}


.l-cluster {
	overflow: hidden;
}

.l-cluster > * {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: calc(1rem / 2 * -1);
}

.l-cluster > * > * {
	display: inline-block;
	margin: calc(1rem / 2);
}


.l-sidebar {
	overflow: hidden;
}

.l-sidebar > * {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: calc(1.7rem / 2 * -1);
}

.l-sidebar > * > * {
	margin: calc(1.7rem / 2);
}

.l-sidebar .sidebar {
	display: flex;
	flex-basis: 18.75rem;
	flex-direction: column;
	flex-grow: 1;
	justify-content: flex-start;
}

.l-sidebar .sidebar > * + * {
	margin-top: 1.5rem;
}

.l-sidebar .not-sidebar {
	display: flex;
	flex-basis: 0;
	flex-direction: column;
	flex-grow: 999;
	justify-content: flex-start;
	min-width: calc(55% - 1.7rem);
}


.l-stack {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.l-stack > * + * {
	margin-top: 1.5rem;
}



/*------------------------------------*\
	#Global header
\*------------------------------------*/
.global-header {
	margin-bottom: 2rem;
	padding-bottom: 1rem;
	padding-top: 1rem;
}

.global-header__inner {
	align-items: center;
	justify-content: space-between;
}



/*------------------------------------*\
	#Global logo
\*------------------------------------*/
.global-logo {
	align-items: center;
	border-bottom: 1px solid transparent;
	display: inline-flex;
	text-decoration: none;
}

.global-logo:hover {
	border-bottom-color: inherit;
}

.global-logo svg {
	display: block;
	height: 3rem;
	width: 4.5rem;
}

.global-logo span {
	font-size: 1.7rem;
	font-weight: bold;
	margin-left: 0.5em;
}



/*------------------------------------*\
	#Navigation
\*------------------------------------*/
.nav-link {
	display: inline-block;
	font-weight: bold;
	padding: 10px 5px;
	text-decoration: none;
}

.nav-link:hover {
	text-decoration: underline;
	text-decoration-skip-ink: auto;
}

.global-nav li,
.section-nav li {
	position: relative;
}

.global-nav li.active::after,
.section-nav li.active::after {
	background-color: #005A9C;
	content: '';
	display: block;
	position: absolute;
}

.global-nav li.active::after {
	bottom: 0.25em;
	height: 3px;
	left: 0;
	width: 100%;
}

.section-nav li.active::after {
	height: 60%;
	left: -3px;
	top: 50%;
	transform: translateY(-50%);
	width: 3px;
}

.global-nav li.active .nav-link:hover,
.section-nav li.active .nav-link:hover {
	text-decoration: none;
}



/*------------------------------------*\
	#Main
\*------------------------------------*/
main > * {
	max-width: 43rem;
}



/*------------------------------------*\
	Color swatches
\*------------------------------------*/
.swatches,
.swatches th,
.swatches td {
	border: none;
}

.swatches tr {
	border-bottom: solid 0.625rem transparent;
	display: table-row;
}

.swatches th {
	display: block;
	font-weight: normal;
	padding-left: 3.125rem;
	position: relative;
}

.swatches th,
.swatches td {
	padding: 0.3125rem;
}

.swatches code {
	color: #111;
}

.color-swatch {
	border: 1px black dashed;
	border-radius: 4px;
	display: block;
	height: 2.5rem;
	left: 0;
	position: absolute;
	top: 0;
	width: 2.5rem;
}

@media screen and (min-width: 48em) {

	.color-swatch {
		display: inline-block;
		margin-right: 0.625rem;
		position: static;
		vertical-align: middle;
	}

}

.swatches th,
.swatches td {
	display: block;
	padding-left: 3.125rem;
	position: relative;
}

@media screen and (min-width: 48em) {

	.swatches th,
	.swatches td {
		display: table-cell;
		padding: 0.3125rem;
	}

}



/*------------------------------------*\
	#Code snippet containers
\*------------------------------------*/
.hljs.hljs {
	max-height: 30rem;
	max-width: 43rem;
	padding: 1rem;
}

.hljs.hljs:focus {
	box-shadow: 0 0 0 2px #f9dc4a;
	outline: solid 3px #000;
	outline-offset: 2px;
}



/*------------------------------------*\
	#Showcase iframes
\*------------------------------------*/
.showcase {
	border: solid 1px;
	display: block;
	max-width: 100%;
	padding: 1rem;
	width: 100%;
}



/*------------------------------------*\
	#Global footer
\*------------------------------------*/
.global-footer {
	-ms-grid-row: 2;
	grid-row-start: 2;
	grid-row-end: 3;
	padding-bottom: 1rem;
	padding-top: 1rem;
}


/*------------------------------------*\
	Heading permalinks
\*------------------------------------*/
a.heading-permalink {
	color: #005797;
	padding-right: 0.5em;
}
