<!doctype html>
<html lang="en" class="no-js">

<head>
{% block head %}
    <meta charset="utf-8">

    <title>{% block title %}{% endblock %} Apollo</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- SEO & Open Graph -->
    <meta property="og:description" name="description" content="The living content and style guide for Studio 24 by Studio 24."/>
    <meta property="og:url" content="http://apollo.s24.net/"/>
    <meta property="og:image" content="http://apollo.s24.net/dist/assets/images/apollo.png"/>
    <meta property="og:title" content="Apollo"/>
    <meta name="twitter:card" content="summary_large_image"/>

    <!-- scripts -->
    <script>(function(H){H.className=H.className.replace(/\bno-js\b/,'js')})(document.documentElement)</script>
    {% include '_includes/scripts__header.html' %}


    <!-- styles -->
    <link rel="stylesheet" href="/dist/assets/styles/styles.min.css" type="text/css" media="screen"/>
{% endblock %}
</head>

<body>
  <div class="wrap">
  <main>
    {% block main %}{% endblock %}
  </main>
  </div>

  <footer class="global-footer">
    Footer content goes here
  </footer>

  {% include '_includes/scripts__footer.html' %}
</body>
</html>
