{% extends "base.html.twig" %}

{% block main %}

<h1>An HTML Boilerplate for your webpages</h1>
<p><a href="docs/boilerplate.php">The documentation for the Studio 24 HTML Boilerplate</a></p>

{% endblock %}